{% extends "layout.html" %}

{% block title %}
mytracks.net | GPS Tracks mapped
{% endblock %}
{% block body_class %}home{% endblock %}
{% block header %}
        <img alt="mytracks.net banner image" src="{{MEDIA_URL}}/img/mytracks.jpg"/>            
{% endblock %}

{% block content %}
    <h1>mytracks.net | Where have I been?</h1>
    <p>This site processes the GPX XML file output from a Garmin GPS device and presents the results on Google Maps. It will also plot flickr photos along the routes it finds.</p>

    <div>
       <div id="track-list">
           <h2>Most recent routes</h2> 
          <ul id="tracks">
          {%for t in tracks %}
          <li>
              <!--
              <a href="/gps/dates/20071001-20071231/1/xml" title="Download the GPX version of this track">
                  <img src="{{MEDIA_URL}}/img/XML.png" alt="XML Icon" />
              </a>
          -->
          <a href="/track/{{t.id}}">{{t.start_time|date:"D M dS H:i"}}</a>
              <!--
              -{{t.end_time|date:"H:i"}}
                  -->
<span>({{t.name}}) [{{t.length|floatformat:2}}M]</span>
          </li>
          {%endfor%}


          </ul>
       </div>
       <div id="search-form">
           <form action="" method="get" accept-charset="utf-8">
               <ul>
           {{search_form.as_ul}}
                </ul>
           <p><input type="submit" value="Go" /></p>
           </form>
           {%if message%}
			<p>{{message}}</p>
			{% endif %}
       </div>
    </div>    
{% endblock %}