<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>
{% block title %}mytracks.net{% endblock %}
</title>
<!-- Meta Tags -->
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<meta name="robots" content="index, follow" />

<meta name="description" content="Implementation of Google Maps to mash up with Flickr/GPX XML waypoints and routes." />
<meta name="keywords" content="UNIX, Mac, Training, GPS, GPX, Map" />
<meta name="author" content="Richard Barrett-Small" />

<!-- Favicon 
<link rel="shortcut icon" href="" />
-->
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.3.1/build/reset-fonts-grids/reset-fonts-grids.css" />
<link rel="stylesheet" href="{{MEDIA_URL}}/assets/css/screen.css" type="text/css" />

<!-- JavaScript -->

<script type="text/javascript" src="{{MEDIA_URL}}/assets/js/jquery.js"></script>
{% block head_tags %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

<div id="container">
<div id="header">{% block header %}{% endblock %}</div>

<div id="primary-content">
{% block content %}{% endblock %}
</div><!-- primaryContent -->


<div id="footer">
{% block footer %}{% endblock %}
</div><!-- footer -->
{{qs|length}}{{qs}}
</div><!-- container -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-932633-1";
urchinTracker();
</script>
</body>
</html>