{% extends "layout.html" %}

{% block title %}
mytracks.net - plan your route
{% endblock %}


{% block head_tags %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/jquery.lightbox.css" media="screen" />
 
  <script type="text/javascript"
  src="http://developer.multimap.com/API/maps/1.2/OA08061915958153873"></script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}/js/PolylineEncoder.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>


<script type="text/javascript">
    //<![CDATA[
    var d = new Date();

    var starttime = d.getTime();
    var report =  'starting:' + d.getTime();
    var route = [];
	var route_line;
    var marker_number = 0;
	
	
	function getRouteLength(given_route) {
		var route_distance = 0;		
		for (i =0; i < given_route.length; i++) {


			if (i > 0) {
				
				route_distance += mapviewer.getGreatCircleDistance( given_route[i -1 ].getPosition(), given_route[i].getPosition() );
			}
			
		}
		$('#route-length span').text(route_distance.toFixed(2));
		return route_distance;
	}
	
	function addDraggableMarker() {
	
	    var pos = mapviewer.getCurrentPosition(); 
	    var marker = mapviewer.createMarker( pos, {'label' : 'Draggable marker', 'draggable' : true } );
	    marker.number = marker_number;
	    route[marker_number] = marker;
		marker_number++;
		getRouteLength(route);
	}
	
	function  addPolyline (points, color, opacity, thickness,  closed, fill) {
	    if (polyline) polyline.remove();
	    polyline = new MMPolyLineOverlay( points, color, opacity, thickness,  closed, fill );
	    mapviewer.addOverlay(polyline);
	}
	
	function moveMarker(eventType, eventTarget, arg1, arg2, arg3 ) {
	
		    
		var marker_number_here = eventTarget.number
		var marker_here = eventTarget //mapviewer.createMarker( eventTarget.getPosition(), {'label' : 'Draggable marker', 'draggable' : true } );
	    marker_here.number = marker_number_here;
	    route[marker_number_here] = marker_here;
		getRouteLength(route);		
		return marker_here;
	    
	}

    
    $(window).resize(function(){
    
        $('#map').height($(this).height() - 5);
    });
    $('#info').ready(function() {
		$('#add-marker').click(addDraggableMarker)
	});
    $('#map').ready( function() {

        /* Bind event 
        $('#map').click(function(e){
            alert(e.target);
        });
        */  
        var d = new Date();
        report += 'domready:' + (d.getTime() - starttime ); 
        $('#map').height( $(window).height() - 5 );
                  //Add the map
        mapviewer = new MMFactory.createViewer( document.getElementById( 'map' ) );
        mapviewer.goToPosition( new MMLatLon( 52.2, 0.14 ) );
        MMDataResolver.setDataPreferences(MM_WORLD_MAP, [904]);
        mapviewer.addWidget(new MMSmallPanZoomWidget());
        mapviewer.setAllowedZoomFactors(13, 15);
        mapviewer.addEventHandler('overlayEndDrag', moveMarker);
        /*
		// and for the track route to build polyline
        var track_latlons = new Array();
        var track_photos = new Array();
        {% for wp in track.gps_points %}
                track_latlons.push( new MMLatLon( {{wp.latitude|floatformat:9}}, {{wp.longitude|floatformat:9}} ) );
        {% endfor %}
        
        //create bounds object to set zoom level to fit all datapoints
        var bounds = new MMBounds();

        // Loop through photo co-ords to set map bounds
        for (i = 0; i < track_latlons.length; i++ ) {
                bounds.extend(track_latlons[i]);            
        }
        
        var loca = mapviewer.getAutoScaleLocation(track_latlons);       
        
        polyline = new MMPolyLineOverlay( track_latlons, '#00F', 2, 0.5, false, false );
        mapviewer.addOverlay(polyline);
        mapviewer.drawAndPositionMap(loca);
    */
	
    });

    //]]>

</script>
{% endblock %}



{% block body_class %}map{% endblock %}


{% block content %}
<div id="map"></div>
<div id="info">
<h1>Track Info</h1>
<table class="stats">
    <tr><th scope="row">Length</th><td id="route-length"><span> </span> miles</td></tr>
</table>
<p><a href="#" id="add-marker">Add waypoint</a></p>
</div>
{% endblock %}



