{% extends "map.html" %}

{% block head_tags %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/jquery.lightbox.css" media="screen" />


<script type="text/javascript" 
    src="http://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=50A60597FF6FA670E0405F0AF0607DE0"></script>  
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}/js/PolylineEncoder.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>
<script type="text/javascript">
    //<![CDATA[
    $(window).resize(function(){
        $('#map').height($(this).height() - 5);
    });

    $('#map').ready( function() {
        $('#map').height( $(window).height() - 5 );
        
        // Add the map
        var osMap = new OpenSpace.Map('map');
        
        // Need projection for lat lons
        var grid_projection = new OpenSpace.GridProjection();

        // create bounds object to set zoom level to fit all datapoints
        var bounds = new OpenLayers.Bounds();       
        
        // set up 
        
        //	mapviewer.addWidget(new MMSmallPanZoomWidget());
        //	mapviewer.setAllowedZoomFactors(13, 15);
	
        // and for the track route to build polyline
        var track_latlons = new Array();
        
        var track_photos = new Array();
        {% for wp in track.gps_points %}
            lon_lat = new OpenLayers.LonLat( {{wp.longitude|floatformat:9}}, {{wp.latitude|floatformat:9}} );
            // Loop through photo co-ords to set map bounds
            bounds.extend(lon_lat)
            pos = grid_projection.getMapPointFromLonLat(lon_lat);
            point = new OpenLayers.Geometry.Point(pos.lon, pos.lat);
            track_latlons.push(point)
        {% endfor %}
        

        console.log(bounds);
        map_center = bounds.getCenterLonLat();
        zoom = osMap.getZoomForExtent(bounds);
        // Start at 25000:1
        osMap.setCenter(grid_projection.getMapPointFromLonLat(map_center), 7);

    // Initialise our vector layer variable 
    var vectorLayer = osMap.getVectorLayer();
    
    // Define the line style 
    var style = {strokeColor: "#0000FF", strokeOpacity: 0.75, strokeWidth: 4}; 
    vectorLayer.styleMap = new OpenLayers.StyleMap( style );
    
    // Create a polyline feature from the array of points 
    var lineString = new OpenLayers.Geometry.LineString(track_latlons); 
    var lineFeature = new OpenLayers.Feature.Vector(lineString); 
    vectorLayer.addFeatures([lineFeature]); 
});

    //]]>

</script>
{% endblock %}
