{% extends "map.html" %}

{% block head_tags %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/jquery.lightbox.css" media="screen" />
 
  <script type="text/javascript"
  src="http://developer.multimap.com/API/maps/1.2/OA08061915958153873"></script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}/js/PolylineEncoder.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>


<script type="text/javascript">


    
    
    var d = new Date();
    //<![CDATA[
    var starttime = d.getTime();
    var report =  'starting:' + d.getTime();
    
    $(window).resize(function(){
    
        $('#map').height($(this).height() - 5);
    });

    $('#map').ready( function() {

        /* Bind event 
        $('#map').click(function(e){
            alert(e.target);
        });
        */  
        var d = new Date();
        report += 'domready:' + (d.getTime() - starttime ); 
        $('#map').height( $(window).height() - 5 );
            	  //Add the map
  var mapviewer = new MMFactory.createViewer( document.getElementById( 'map' ) );
  mapviewer.goToPosition( new MMLatLon( 52.2, 0.14 ) );
	MMDataResolver.setDataPreferences(MM_WORLD_MAP, [904]);
	mapviewer.addWidget(new MMSmallPanZoomWidget());
	mapviewer.setAllowedZoomFactors(13, 15);
	
	        // and for the track route to build polyline
        var track_latlons = new Array();
        var track_photos = new Array();
        {% for wp in track.gps_points %}
                track_latlons.push( new MMLatLon( {{wp.latitude|floatformat:9}}, {{wp.longitude|floatformat:9}} ) );
        {% endfor %}
    	
    	//create bounds object to set zoom level to fit all datapoints
        var bounds = new MMBounds();

        // Loop through photo co-ords to set map bounds
        for (i = 0; i < track_latlons.length; i++ ) {
                bounds.extend(track_latlons[i]);            
        }
        
        var loca = mapviewer.getAutoScaleLocation(track_latlons);    	
    	
    	polyline = new MMPolyLineOverlay( track_latlons, '#900', 0.75, 0.5, false, false );
    	mapviewer.addOverlay(polyline);
    	mapviewer.drawAndPositionMap(loca);
    	/*
      if (GBrowserIsCompatible()) {
        
        // Create an array of the Glatlngs for this track's photos
        var photo_latlons = new Array();
        var photo_urls  = new Array();
        

        var d = new Date();
        report += ', embarking on track:' + (d.getTime() - starttime );
        {% for wp in track.random_photos %}
            p_marker = createMarker( new GLatLng( {{wp.latitude|floatformat:9}}, {{wp.longitude|floatformat:9}} ) ,
                'http://farm{{wp.photo_farm}}.static.flickr.com/{{wp.photo_server}}/{{wp.photo_id}}_{{wp.photo_secret}}_s_d.jpg',
                'http://farm{{wp.photo_farm}}.static.flickr.com/{{wp.photo_server}}/{{wp.photo_id}}_{{wp.photo_secret}}.jpg',
                '{{wp.photo_title}} at {{wp.altitude|floatformat:2}}m');                
            track_photos.push(p_marker );       
        {% endfor %}

        
        report += ', tlength:' + track_latlons.length;
        var d = new Date();
        report += ', track done:' + (d.getTime() - starttime );
        
        //map.setCenter(new GLatLng(56.776,-3.932), 13);



        var d = new Date();
        report += ', bounds done:' + (d.getTime() - starttime );

        // Create polyline from waypoints 
        //var track_route = new GPolyline(track_latlons, "#0000FF", 2, 1);
        
        // Prepare for encoding!        
        var polylineEncoder = new PolylineEncoder(9,4,0.00001,true);
        var track_route = polylineEncoder.dpEncodeToGPolyline(track_latlons);
        
        
        var d = new Date();
        report += ', track done:' + (d.getTime() - starttime );
        ;


        //map.setMapType(G_HYBRID_MAP);
        
        var d = new Date();
        report += ', map done:' + (d.getTime() - starttime );
        
        var d = new Date();
        report += ', photo adding done:' + (d.getTime() - starttime );
        
        map.addOverlay(track_route);
        for (i in track_photos){
            map.addOverlay(track_photos[i]);
        }
      }
      */
    })

    //]]>

</script>
{% endblock %}
